.main {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 280px;
    margin-top: 50px;
}

.sidebar-and-main {
    display: flex;
    align-items: start;
}

.counterContainer {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    border: 3px solid gold;
    border-radius: 50px;
    padding: 4px 12px;
}

.counterButton,
.deleteButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 4px 8px;
    color: white;
    border-radius: 30px;
}

.quantity {
    margin: 0 12px;
    font-weight: bold;
    font-size: 18px;
}

.totalAmountContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #1A1A1A;
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.2);
    text-align: center;
}

.BuyCart {
    width: 10%;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
}

.productsArray {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.alert-div{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.alert-inputs{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.alert-button{
    margin-top: 10px;
    width: 50%;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
}