.sidebar {
  width: 15%;
  height: calc(100vh - 80px);
  background-color: #1A1A1A;
  box-shadow: 5px 0px 10px rgba(212, 175, 55, 0.2);
  padding: 15px;
  position: fixed;
  top: 50px;
}


.sidebar-links .icon-text {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}

.sidebar-links .icon-text:hover {
  background-color: #333;
}


.icon-text .icon {
  color: rgba(245, 245, 245, 0.799);
  font-size: 24px;
  margin-left: 10px;
}

.icon-text .text  {
  font-size: 17px;
  color: #FFD700;
  margin-left: 20px;
}
  