.main {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 280px;
    margin-top: 50px;
}

.sidebar-and-main {
    display: flex;
    align-items: start;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button {
    width: 40%;
    padding: 3px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.blur-button {
    opacity: 0.5;
    pointer-events: none;
}

.reject-accept {    
    padding: 5px;
    width: 30%;
    margin: 10px;
    border-radius: 5px;
}
